.video__player {
  .MuiBackdrop-root {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.thumbnail {
  min-width: 27rem;
  max-height: 15.25rem;
}

.play__btn {
  &:hover {
    background-color: rgb(30, 41, 59, 0.8);

    svg {
      color: rgb(255, 255, 255, 0.6);
    }
  }
}