@tailwind base;
@tailwind components;
@tailwind utilities;

.results__container {
  display: grid;

  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));

  gap: 3rem;
}

.w-120 {
  width: 30rem;
}

.chip {
  color: rgb(234, 179, 8);
  text-align: center;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 700;

  padding: 0.5rem;
  border-radius: 0.5rem;

  background-color: #000;

  width: max-content;
}

.section__title {
  color: rgb(234, 179, 8);
  font-weight: 800;
  font-size: 1.5rem;
  line-height: 2rem;

  margin-bottom: 3rem;
}