@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,1,0');

.results__container {
  display: grid;

  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));

  gap: 3rem;
}